# Python and Flask
.DS_Store
.flaskenv
__pycache__/
*.pyc
*.pyo
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage
htmlcov/
.coverage
.coverage.*
*,cover

# Project
project.pdf
*.log