{% extends "elements/base.html" %}

{% block title %}Questionnaire Builder - BCX Project{% endblock title %}

{% block body %}

{% include "elements/nav.html" %}

<!-- Form Archive Table -->
<br>
<section>

    <!-- Construct Current State of Questionnaire -->

    <!-- Add Question -->
    <form class="box is-shadowless has-background-link">

      <div class="box is-shadowless my-2 mx-2">

        <!-- Question Field -->
        <div class="field">
          <label class="label">Modify Questionnaire</label>
          <div class="control">
            <input class="input" type="text" placeholder="Question...">
          </div>
        </div>
      
        <!-- Question Input Type -->
        <div class="select">
          <select>
            <option value="input">Input</option>
            <option value="select">Select</option>
            <option value="radio">Radio</option>
          </select>
        </div>

        <!-- Add Question -->
        <button class="button is-link is-pulled-right">
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add</span>
        </button>

        <!-- Save -->
        <button class="button is-link is-pulled-right mr-2">
          <span class="icon is-small">
            <i class="fas fa-floppy-disk"></i>
          </span>
          <span>Save</span>
        </button>
        

      </div>

    </form>

</section>
<br>

{% include "elements/footer.html" %}

{% endblock body %}