{% extends "elements/base.html" %}
{% block title %}
    Questionnaire Builder - BCX Project
{% endblock title %}
{% block body %}
    {% include "elements/nav.html" %}
    <!-- Form Archive Table -->
    <br/>
    <section>
        <!-- Construct Current State of Questionnaire -->
        <h1 class="title is-size-5-desktop is-size-4-mobile has-text-dark has-text-centered">
            FORM VERSION: {{ new_version | string }}
        </h1>
        <!-- Add Question -->
        <form action="" method="post" class="box is-shadowless has-background-link">
            <!-- Current State -->
            {% for form_entry in form_state %}
                {% include "elements/form_entry.html" %}
            {% endfor %}
            <!-- Question Creation -->
            <div id="entryCreation" class="box is-shadowless my-2 mx-2">
                <!-- Question Input Field -->
                <div class="field">
                    <label class="label">Add Question</label>
                    <div class="control">
                        <input class="input"
                                name="entryTextField"
                                type="text"
                                placeholder="Question..."/>
                    </div>
                </div>
                <!-- Selection Options Field -- TODO: disable when input is select -->
                <div id="entryOptions" class="field">
                    <label class="label">Selection Options</label>
                    <p class="mb-2">
                        <small>Use a semicolon ; as a delimiter</small>
                    </p>
                    <div class="control">
                        <input class="input"
                               name="entryOptionField"
                               type="text"
                               placeholder="option 1;option 2;option 3;etc"/>
                    </div>
                </div>
                <!-- Question Input Type -->
                <div class="select">
                    <select id="entryInput" name="entryInputTypeField">
                        <option value="input">
                            Input
                        </option>
                        <option value="select">
                            Select
                        </option>
                        <option value="radio">
                            Radio
                        </option>
                    </select>
                </div>
                <!-- Add Question -->
                <button id="addEntry" type="button" class="button is-link is-pulled-right">
                    <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Add</span>
                </button>
                <!-- Save -->
                <button id="saveEntry" class="button is-success is-pulled-right mr-2">
                    <span class="icon is-small">
                        <i class="fas fa-floppy-disk"></i>
                    </span>
                    <span>Save</span>
                </button>
            </div>
        </form>
    </section>
    <br/>
    {% include "elements/footer.html" %}
{% endblock body %}
