{% extends "elements/base.html" %}

{% block title %}BCX Project{% endblock title %}

{% block body %}

{% include "elements/nav.html" %}

<!-- Start Form -->
<div class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-mobile is-centered">
          <div class="column is-one-third-desktop is-full-mobile">

            <form action="" method="POST">
              <div class="field">
                <h2 class="is-size-3 mb-4 is-unselectable">Questionnaire</h2>
                <h2 class="is-size-5 mb-6 is-unselectable">Please enter your email address<br>to start the Questionnaire. 📝</h2>
                
                <!-- Some user info -->
                <ul class="mb-4">
                  <li><small>You have <strong>5 minutes</strong> to submit your answers.</small></li>
                  <li><small>We only allow <strong>one submission</strong> per email address.</strong></small></li>
                  <li><small>Your email address is used as <strong>internal reference</strong>.</small></li>
                </ul>

                <p class="control has-icons-left has-icons-right">

                  {% if current_user.is_authenticated %}
                  <input class="input" name="email" type="email" placeholder="Email" required disabled>
                  {% else %}
                  <input class="input" name="email" type="email" placeholder="Email" required>
                  {% endif %}
                  
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              
              <div class="field">
              
                <p class="control">
                  {% if current_user.is_authenticated %}
                  <button class="button is-link is-fullwidth mt-2 is-static">Applicants Only</button>
                  {% else %}
                  <button class="button is-link is-fullwidth mt-2">Start</button>
                  {% endif %}
                </p>
                
              </div>
              
            </form>

            {% include "elements/notification.html" %}
  
          </div>
        </div>
      </div>
    </div>
</div>

{% include "elements/footer.html" %}

{% endblock body %}