{% extends "elements/base.html" %}

{% block title %}Admin Review - BCX Project{% endblock title %}

{% block body %}

{% include "elements/nav.html" %}

<!-- Applicant Questionnaire Review-->
<div class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-two-thirds-desktop is-full-mobile">

          <!-- Generated and Filled Form Fields -->
          {% for form in forms %}
            {% if form.input_type == 'input' %}
              {% include "elements/form_input.html" %}
            {% elif form.input_type == 'select' %}
              {% include "elements/form_select.html" %}
            {% elif form.input_type == 'radio' %}
              {% include "elements/form_radio.html" %}
            {% else %}
              <!-- No Questions Notification -->
              <p class="is-size-4 has-weight-bold">There are currently no questions on record.</p>
            {% endif %}
          {% endfor %}

          <div class="my-4">
            <button type="submit" class="button my-4 is-link is-fullwidth is-large">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% include "elements/footer.html" %}

{% endblock body %}