<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Full-stack interview project"/>
        <meta name="keywords"
              content="HTML, CSS, Flask, Python, Jinja, SQL, JavaScript"/>
        <meta name="author" content="Marthinus Spangenberg"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
              integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
              integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
              crossorigin="anonymous"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <!-- Main container -->
        <main class="container is-flex is-flex-direction-column">
            {% block body %}
            {% endblock body %}
        </main>
        <script src="/static/js/index.js"></script>
        {% if current_user.is_authenticated %}
        <script src="/static/js/formbuilder.js"></script>
        {% endif %}
    </body>
</html>
