<tr>
    <td class="is-hidden-mobile">9999</td>
    <td>test@example.com</td>
    <td class="is-hidden-mobile">00-00-00 00:00</td>
    <td>
      <div class="buttons">
        <button class="button is-small">
          <span class="icon has-text-link is-small">
            <i class="fas fa-eye fa-2x"></i>
          </span>
        </button>
        <button class="button is-small">
          <span class="icon has-text-link is-small">
            <i class="fas fa-cloud-arrow-down fa-2x"></i>
          </span>
        </button>
        <button class="button is-small">
          <span class="icon has-text-danger is-small">
            <i class="fas fa-trash fa-2x"></i>
          </span>
        </button>
      </div>
    </td>
</tr>

