<div class="card is-shadowless my-2">
    <header class="card-header has-background-link is-unselectable">
        <p class="card-header-title is-size-5 has-text-white">
            Question {{ form.id }}
        </p>
    </header>
    <div class="card-content is-unselectable">
      <div class="content">
        {{ form.question }}
      </div>
    </div>
    <footer class="card-footer has-background-light">
        <div class="select is-fullwidth mx-2 my-2">

            {% set choices = form.choice %}
            {% set selections = choices.split(';') %}

            <select name="{{ form.id }}" required>
              <option value="">Please select an option</option>
              {% for selection in selections %}
                <option value="{{ selection }}">{{ selection }}</option>
              {% endfor %}
            </select>

            <input type="hidden" name="question" value="{{ form.question }}">

        </div>
    </footer>
</div>