<div class="card is-shadowless my-2">
    <header class="card-header has-background-link is-unselectable">
        <p class="card-header-title is-size-5 has-text-white">
            Question {{ form.id }}
        </p>
    </header>
    <div class="card-content is-unselectable">
      <div class="content">
        {{ form.question }}
      </div>
    </div>
    <footer class="card-footer has-background-light">
        <input class="input mx-2 my-2" id="questionfield" name="{{ form.id }}" type="text" maxlength="1024" placeholder="Answer..." required>
      
        <input type="hidden" name="question" value="{{ form.question }}">
        
      </footer>
</div>