<tr>
    <td>1</td>
    <td>132421</td>
    <td>00-00-00 00:00</td>
    <td class="ms_actionbuttons">
      <div class="buttons">
        <button class="button is-small">
          <span class="icon has-text-link is-small">
            <i class="fas fa-edit fa-2x"></i>
          </span>
        </button>
        <button class="button is-small">
          <span class="icon has-text-danger is-small">
            <i class="fas fa-trash fa-2x"></i>
          </span>
        </button>
      </div>
    </td>
</tr>