{% extends "elements/base.html" %}

{% block title %}BCX Project{% endblock title %}

{% block body %}

{% include "elements/nav.html" %}

<!-- Start Form -->
<div class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-mobile is-centered">
          <div class="column is-one-third-desktop is-full-mobile">

            <form action="" method="POST">
              <div class="field">
                <h2 class="is-size-3 mb-4">Questionnaire</h2>
                <h2 class="is-size-5 mb-6">Please enter your email address<br>to start the Questionnaire.</h2>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-link is-fullwidth mt-2">Start</button>
                </p>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
</div>

{% include "elements/footer.html" %}

{% endblock body %}